img{
    width: 20px;
    height: 15px;
}
h1, h2 {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

h1 {
    color: black; /* Màu đen cho tiêu đề cấp 1 */
}

h2 {
    color: blue; /* Màu xanh cho tiêu đề cấp 2 */
}

/* Định dạng cho văn bản */
p {
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    font-style: italic;
    color: blue; /* Màu xanh cho văn bản */
}

/* Định dạng cho các hyperlink */
a {
    color: red; /* Màu đỏ cho hyperlink */
    text-decoration: none; /* Không có gạch chân */
}
/* File: myStyle.css */

/* Style cho tiêu đề */
.Tieu_de {
    font-weight: bold;
    color: blue; /* Thay đổi màu chữ thành xanh */
    font-family: Arial, sans-serif;
    font-size: 18pt;
}

/* Style cho nội dung */
.Noi_dung {
    font-style: italic;
    color: purple; /* Thay đổi màu chữ thành tím */
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

/* Style cho siêu liên kết */
.Sieu_lien_ket {
    font-style: italic;
    text-decoration: none; /* Không gạch chân */
    color: green; /* Màu của liên kết */
}
